<h1>{{title}}</h1>
<nav>
  <ul>
    <li><a routerLink="/hello" [routerLinkActive]="['active','abc']">Hello</a></li>
    <li><a routerLink="/good-bye" routerLinkActive="active">Good Bye</a></li>
    <li><a routerLink="/counter" routerLinkActive="active">Counter</a></li>
    <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<!--{{ today | date:'medium' | uppercase }}

<p>{{ 1000 | currency:'GBP':true }}</p>

<p> {{ 5 | powerof:3 }}</p>-->


<!--<app-course-list></app-course-list>-->

<!-- Interpolation -->
<!--<h1>{{title}}</h1>
<pre>
  {{ 1 + 2 }}

  {{ [1,2,3,4,5,6] }}

  {{ title.toUpperCase() }}

  {{ getPrice() }}

  {{ getCourseAsString(course) }}

  {{ subTitle.length > 40 ? subTitle : 'TOO SHORT'}}
</pre>-->
<!--<h1>
  {{title}}
</h1>
<h3>{{subTitle}}</h3>
<p>This is a para</p>
<table>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
</table>

<app-hello></app-hello>
<app-good-bye></app-good-bye>-->
